@page "/table"
@attribute [TabItemOption(Text = "Table")]
<PageTitle>Table</PageTitle>

<h1>Table - 固定标签页</h1>

<Table TItem="Foo" IsPagination="true" PageItemsSource="PageItemsSource"
       IsStriped="true" IsBordered="true" ShowSkeleton="true" IsMultipleSelect="true"
       ShowToolbar="true" ShowSearch="true" ShowExtendButtons="true"
       AutoGenerateColumns="false" EditMode="EditMode.Popup">
    <TableColumns>
        <TableColumn @bind-Field="@context.Hobby" Items="GetHobbys(context)" />
        <TableColumn @bind-Field="@context.Name">
            <Template Context="value">
                <p>@value.Value</p>
            </Template>
        </TableColumn>
    </TableColumns>
</Table>
